[package]
name = "xmpp-rs"
version = "0.1.2"
description = "A work in progress xmpp lib"
license = "MPL-2.0"
documentation = "https://docs.rs/xmpp-rs"
authors = ["Freyskeyd <simon.paitrault@iadvize.com>"]

[lib]
name = "xmpp"
path = "src/lib.rs"

[dependencies]
bytes = "0.4"
futures = "0.1"
tokio-io = "0.1.1"
tokio-core = "0.1"
tokio-tls = "0.1.2"
native-tls = "0.1"
base64 = "0.4.0"
log = "0"
env_logger = "0"
regex = "0.2"
lazy_static = "0.2.5"

[dev-dependencies]
cursive = "0.3.7"
unicode-width = "0.1.4"

[dependencies.xmpp-proto]
path = "./proto"
version = "0"

[dependencies.xmpp-derive]
path = "./derive"
version = "0"

[dependencies.xmpp-client]
path = "./client"
version = "0"

[workspace]
members = ["client/", "proto/", "server/", "derive/"]
